h1{
    color:blue;
    background-color: rgb(121, 141, 141);
    padding: 100px;
    text-align: center;
}

.cake1{
    height:680px;
    width:100vw;
}

.cake2{
    height:680px;
    width:100vw;
}
.cake3{
    height:680px;
    width:100vw;
}